###### General Settings ######
DJANGO_HOST=0.0.0.0
DJANGO_PORT=8000
DJANGO_LIMIT_MAX_REQUESTS=300
DJANGO_ENVIRONMENT=development
DJANGO_SECRET_KEY="your-secret-key-here"
    # How to generate a secure secret key: https://docs.djangoproject.com/en/stable/howto/deployment/checklist/#secret-key
DJANGO_ALLOWED_HOSTS='*'
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:3000

# DOMAIN_NAME="http://{{drr-phangan-sub-domain-name}}.sitearound.com"
DOMAIN_NAME=localhost

###### Core Settings #######
CORS_ALLOWED_ORIGINS=http://localhost:3000
CORS_ALLOWED_ORIGIN_REGEXES=^http://localhost:\d+$
CORS_ALLOW_ALL_ORIGINS=True
CORS_CUSTOM_HEADERS=X-Latitude,X-Longitude,X-Language

###### Database Settings ######
DB_HOST=localhost
DB_PORT=5433
# DB_NAME=drr-ts-dev
DB_NAME={{project_name}}
DB_USER=postgres
DB_PASSWORD=postgres

###### Storage Settings ######
S3_ACCESS_KEY_ID=miniouser
S3_SECRET_ACCESS_KEY=miniopassword
S3_ENDPOINT_URL=http://localhost:9000
S3_TEMP_BUCKET_NAME=
S3_STORAGE_BUCKET_NAME=
S3_STATIC_BUCKET_NAME=static

###### Redis Django Cache Settings ######
DJANGO_CACHE_LOCATIONS=redis://localhost:6379/0
IOT_REDIS_URL=redis://localhost:6379/1
TOKEN_REDIS_URL=redis://localhost:6379/2

###### Email Settings ######
# EMAIL_HOST=smtp.gmail.com
# EMAIL_PORT=587
# EMAIL_HOST_USER=example@gmail.com
# EMAIL_HOST_PASSWORD=''
# EMAIL_USE_TLS=True
# FRONTEND_URL_SET_PASSWORD=http://localhost:5173

EMAIL_HOST =localhost
EMAIL_PORT = 1025
EMAIL_HOST_USER = no-reply@example.com
EMAIL_HOST_PASSWORD = ''
EMAIL_USE_TLS=False
FRONTEND_URL_SET_PASSWORD=http://localhost:5173
